<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Get XX from Bookmarks</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <div id="app">
        <h1>get
            <select v-model="config.selected">
                <option value="random" selected>a random bookmark</option>
                <option value="markdown">markdown</option>
            </select>
            from </h1>

        <div id="label">
            <span @click="chooseFolder(folder)" class="label" v-for="folder in folders">
                {{folder}}
            </span>
        </div>
        <div id="application">
            <input class="ipt" type="text" v-model="folderName" placeholder="Input Your bookmark Folder Name">
            <div class="btn">
                include subfolders: <input v-model="recursionConfig" id="recursion" type="checkbox">
                <button id="btn-click" @click="init">Click</button>
            </div>
        </div>
        <div id="view-random" v-show='config.selected=="random" && randomBookmark.url != ""'>
            <button @click="removeBookmarkByID(randomBookmark.id)">remove</button> ：
            <a target="_blank" :href="randomBookmark.url">{{randomBookmark.title}}</a>
        </div>
        <div id="view-markdown" v-show='config.selected=="markdown"'>
            <h1>Bookmarks To Markdown</h1>
            <textarea v-model="markdown.content" id="mrk-cnt" cols="50" rows="10"></textarea>
        </div>
        <div id="error" v-show='errorInfo.trim() !== ""'>
            <h1>Error</h1>
            <p>{{errorInfo}}</p>
        </div>
    </div>

    <script src="/vue.js"></script>
    <script src="/options.js"></script>
</body>

</html>